{% extends "base.html" %}
{% block content %}
<div class="form-container">
    <h2>Смена пароля</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.old_password.label }}<br>
            {{ form.old_password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.new_password.label }}<br>
            {{ form.new_password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-profile-secondary") }}
    </form>
</div>
{% endblock %}
